* {
    box-sizing: border-box;
    font-family: Aref Ruqaa;
    background-color: #7E57C2;
    color: white;
}


main {
    margin: 0 auto;
}


img {
    display: block;
    margin: auto;
    margin-top: 50px;
    height: 70px;
    width: 70px;
}


h1,
h3 {
    text-align: center;
}


h2 {
    font-size: 22px;
    text-align: center;
    background-color: #9575CD;
}


.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #9575CD;
    border-radius: 2px;
    padding: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}


/* Clearfix */


.row::before,
.row::after {
    display: table;
    content: '';
}


.row::after {
    clear: both;
}


.col-6,
.col-12 {
    background-color: #9575CD;
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}


/* Mobile defaults */

.col-6,
.col-12 {
    background-color: #9575CD;
    width: 100%;
}


/* Non-mobile, grid */


@media only screen and (min-width: 640px) {
    /* 6 columns */
    .col-6 {
        background-color: #9575CD;
        width: 50%;
    }
    /* 12 columns */
    .col-12 {
        background-color: #9575CD;
        width: 100%;
    }
}

.grey-form {
    height: 100px;
    background-color: #9575CD;
    margin: 0 auto;
    text-align: center;
}


.taste-form,
.mood-form {
    border: none;
    background-color: white;
    color: #7E57C2 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    cursor: pointer;
    width: 250px;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #9575CD;
}


.dropdown-content-taste,
.dropdown-content-mood {
    display: none;
    position: absolute;
    background-color: #9575CD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.dropdown-content-taste p {
    background-color: #9575CD;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-mood p {
    background-color: #9575CD;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-taste p:hover {
    background-color: #673AB7;
    color: white;
}


.dropdown-content-mood p:hover {
    background-color: #673AB7;
    color: white;
}


.show {
    display: block;
}

.submit-mix {
    background-color: #4527A0;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 435px;
    margin-right: 435px;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

.show-ingredient, .ingredient, .results p {
    background-color: #9575CD;
}

.col-12 > .results {
    background-color: #9575CD;
}
